<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>redux-app</title>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/lib.css" media="all">
  <link rel="stylesheet" href="/css/style.css" media="all">
</head>

<body>
  <!--div id="localhost" class="corner-ribbon right green">
    <a href="/">ローカル環境</a>
  </div-->

  <div id="root"></div>
  
  <script
    src="/node_modules/babel-polyfill/dist/polyfill.min.js"
    ></script>
  <script src="/dist/build.js"></script>

  <!--script>
    document.onkeydown = function(e) {
      document.body.style.height = 'auto';
      (e.which == 71) ? document.body.classList.toggle('grid') : '';
    };
  </script-->
</body>
</html>
