{
  "name": "redux-app",
  "version": "0.0.2",
  "description": "redux minimum app",
  "main": "./gulpfile.babel.js",
  "repository": {
    "type": "git",
    "url": "//github.com/kobabasu/micro-redux.git"
  },
  "keywords": [
    "es6",
    "react",
    "react-router",
    "redux"
  ],
  "os": [
    "darwin",
    "linux",
    "!win32"
  ],

  "dependencies": {},
  "devDependencies": {
    "gulp": "gulpjs/gulp.git#4.0",
    "babel-cli": "*",
    "babel-core": "*",
    "babel-preset-es2015": "*",
    "babel-preset-react": "*",
    "babelify": "*",

    "babel-polyfill": "*",
    "isomorphic-fetch": "*",
    "react": "*",
    "react-dom": "*",
    "react-router": "*",
    "react-document-title": "*",
    "redux": "*",
    "react-redux": "*",
    "redux-saga": "*",
    "react-router-redux": "*",

    "moment": "*",
    "pixi.js": "*",
    "animejs": "*"
  },

  "scripts": {
    "global": "npm install -g gulp gulp-shell",

    "gitkeep": "touch ./{js,dist}/.gitkeep;",
    "preinstall": "mkdir ../{js,dist}; cp -f ./sample/.htaccess ../.htaccess; npm run gitkeep;",
    "postinstall": "if [ ! -e ../node_modules ]; then mv -f ./node_modules ../; else rm -fr ./node_modules; echo 'node_modules exist'; fi;",
    "start": "NODE_ENV=production NODE_PATH=../node_modules",

    "babel": "babel ../src --out-dir ../js --presets [es2015, react]",
    "browserify": "browserify -d --compact false ../js/app.js > ../dist/build.js -t [ babelify --presets [ es2015 react ] ]",

    "build": "npm run babel; npm run browserify"
  },

  "preferGlobal": true,
  "author": "kobabasu",
  "license": "MIT"
}
